button {
    cursor: pointer;
}

.App {
  text-align: center;
  position: relative;
  display: block;
  width: 100%;
}

.body {
  display: block;
  position: absolute;
  z-index: -10;
  width: 100%;
  height: -webkit-fill-available;
  min-height: 100vh;
}

.body.dark {
  background: hsl(235, 21%, 11%);
}

.body.light {
    background: hsl(236, 33%, 92%);
}

.todo {
    position: relative;
    width: 500px;
    padding: 100px 0;
    margin: 0 auto;
}

.header {
    display: flex;
    flex-direction: row;
    font-size: 2.5rem;
    color: white;
    font-weight: 500;
    margin-bottom: 30px;
}

.header-cell {
    width: 50%;
}

.logo {
    text-align: left;
    font-weight: 700;
}

.theme-selector {
    text-align: right;
    padding: 0;
}

.theme-button {
    background: transparent;
    outline: none;
    border: none;
}

.moon-dark {
    display: none;
}

.sun-light {
    display: none;
}

.Create {
    margin: 15px 0;
    padding: 5px 6px;
    border-radius: 5px;
}

.Create.light {
    background: white;
}

.Create.dark {
    background: hsl(235, 24%, 19%);
}

.check {
    border-radius: 50%;
    width: 25px;
    height: 25px;
    border: none;
    color: transparent;
}    

.check.checked {
    background: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
}

.check.unchecked {
    background: transparent;
    border: 1px solid grey;
}

img.unchecked {
    visibility: hidden;
}

img.checked {
    display: inline;
}

.create {
    background: transparent;
    border: 1px solid grey;
}

.create-input {
    padding: 14px 8px;
    width: calc(100% - 65px);
    height: 100%;
    font-size: 1.20rem;
    background: transparent;
    border: none;
    outline: none;
}

.create-input.dark {
    color: hsl(234, 39%, 85%);
}

.List {
    border-radius: 5px;
}

.List.light {
    background: white;
    border-radius: 5px;
}

.List.dark {
    background: hsl(235, 24%, 19%);
    color: hsl(234, 39%, 85%);
}

.List-item {
    padding: 5px 6px;
    border-bottom: 1px dashed black;
    background: transparent;
}

.List-item.dark {
    border-bottom: 1px dashed hsl(236, 9%, 61%);
}

.delete {
    display: none;
}

.List-item:hover .delete{
    display: inline;
}

.cross {
    background: transparent;
    border: none;
    width: 30px;
}

.note {
    display: inline-block;
    width: calc(100% - 95px);
    text-align: left;
    padding: 14px 8px;
    height: 100%;
    font-size: 1.20rem;
    background: transparent;
    border: none;
    outline: none;
    word-wrap: break-word;
}

.note.checked{
    text-decoration: line-through;
    color: hsl(233, 11%, 84%);
}

.note.checked.dark {
    color: hsl(234, 11%, 52%);
}

.Footer-nav {
    display: flex;
    flex-direction: row;
    width: 100%;
    font-size: 0.75rem;
    padding: 15px 0;
    color: hsl(236, 9%, 61%);
}

.nav {
    width: calc(100% / 3);
}

.nav-button {
    background: transparent;
    border: none;
    color: hsl(236, 9%, 61%);
}

.nav-button.light:hover {
    color: hsl(235, 19%, 35%);
}

.nav-button.dark:hover {
    color: hsl(234, 39%, 85%);
}

.category.selected {
    color: hsl(220, 98%, 61%);
}

.items-left {
    text-align: left;
    padding-left: 20px;
    width: calc(100%/3 - 20px);
    font-size: 0.70rem;
}

.category-menu-mini {
    display: none;
    border-radius: 5px;
    margin-top: 15px;
}

.all-all {
    color: hsl(220, 98%, 61%);
}

.active-active {
    color: hsl(220, 98%, 61%);
}
 
.completed-completed {
    color: hsl(220, 98%, 61%);
}

@media screen and (max-width: 555px) {
    .todo {
      width: 90%;
      margin: 0 auto;
      padding-top: 40px;
    }
    
    .Create {
      padding: 3px 5px;
    }
    
    .items-left {
      width: 50%;
      padding-left: 10%;
    }
    
    .category-menu {
      display: none;
    }
    
    .category-menu-mini {
      display: block;
      width: 100%;
      padding: 15px 0;
    }
    
    .category-menu-mini.light {
      background: white;
    }
    
    .category-menu-mini.dark {
      background: hsl(235, 24%, 19%);
      color: hsl(234, 39%, 85%);
    }
    
    .clear-completed {
      width: 50%;
      text-align: right;
      padding-right: 10%;
    }
    
    .delete {
        display: inline;
    }
}